
.custom-table {
  background: #ffffff;
  border-radius: 8px;
  padding: 5px;
}

/* Header */
.custom-table .ant-table-thead > tr > th {
  background-color: #ffcccc;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

/* Body */
.custom-table .ant-table-tbody > tr > td {
  font-size: 14px;
}

/* Hover row */
.custom-table .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #d1d1d1;
}

/* Border table */
.custom-table .ant-table {
  border-radius: 8px;
  overflow: hidden;
}

/* Action buttons */
.custom-table .ant-btn-link {
  padding: 0 4px;
}

/* Danger button hover */
.custom-table .ant-btn-dangerous:hover {
  opacity: 0.85;
}

.custom-table .ant-table-tbody > tr:nth-child(even) > td {
  background-color: #e0e0e0;
}

.custom-table .ant-table-tbody > tr > td:first-child {
  text-align: center;
}

.custom-table .ant-table-tbody > tr > td:last-child {
  text-align: left;
}

.add-btn {
  margin-bottom: 16px;
  border-radius: 6px;
}



